/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$purple: #a57bcc; 
$yellow: #ffd080; 
$highlight: #030893;

// Define custom font family
$wacky-font: 'Candara', cursive; 

.modal-content {
    padding-top: 15px;
    left: 5%;
    position: absolute;
    top: 5%;
    bottom: 5%;
}