@import "../../../styles.scss";

.button-container{
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.copy-button {
    position: absolute;
    left: 25%;
    top: 45%;
    background-color: $purple;
    color: $yellow;
    height: 25%;
    width: 10%;
    cursor: pointer;
    border-radius: 30px;

    &:hover {
        transform: scale(1.1); 
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5); 
        color:rgb(0, 210, 247);
      }
}

.mail-button {
    position: absolute;
    right: 35%;
    top: 45%;
    background-color: $purple;
    color: black;
    height: 25%;
    width: 10%;
    border-radius: 30px;  
    
    cursor: pointer;
    &:hover {
        transform: scale(1.1); 
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5); 
        color:black;
      }
}

.modal-dialog {
    display: flex;
    align-self: center;
}

.modal-content {
    padding-top: 15px;
    padding-left: 5px;
}

.close-button {
    left: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 30px;
    background-color: $purple;
    color: $yellow;
    font-family: $wacky-font;
    font-size: 24px; 
    border-radius: 20px;  
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 

    cursor: pointer;
    &:hover {
        transform: scale(1.1); 
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5); 
        color:rgb(0, 210, 247);
      }
}

.mat-mdc-dialog-surface.mdc-dialog__surface{
    padding-top: 15px;
}
.tweet {
    height: 32px;
    width: 32px;
    color: $yellow;
}
