<!-- share-modal.component.html -->

<div class="modal-overlay"></div>
<div class="modal-dialog">
  <div>
      <div class="modal-content">
        <h1>Share Chuck's hilarious joke... or else</h1>
        <i>{{data.jokeValue}}</i>
      </div>
      <button class="copy-button" title="Share this joke on Twitter/X!" mat-icon-button (click)="tweet(data.jokeValue)">
        <img src="assets/logo-x-twitter.png" class="tweet" alt="Twitter Icon">
      </button>
      <button class="mail-button" title="Forward this joke to all your workmates!" mat-icon-button (click)="sendEmail(data.jokeValue)">
        <mat-icon>mail</mat-icon>
      </button>
      <div class="button-container">
        <button mat-button class="close-button" (click)="closeModal()">Close</button>
      </div>
    </div>
</div>