@import "../../../styles.scss";
@import '../../../shared-styles.scss';

.button-container{
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.tweet-button {
    @extend .common-button;
    left: 10% !important;
    top: 50% !important;
    z-index: 1 !important;
    
    &:hover {
      color: black !important;
    }
}

.mail-button {
    left: 60%;
    top: 50%;
    @extend .common-button;
}

.modal-dialog {
    display: flex;
    align-self: center;
}

.close-button {
    left: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 30px;
    background-color: $purple;
    color: $yellow;
    font-family: $wacky-font;
    font-size: 24px; 
    border-radius: 20px;  
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 

    cursor: pointer;
    &:hover {
        transform: scale(1.1); 
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5); 
        color:rgb(0, 210, 247);
      }
}

.mat-mdc-dialog-surface.mdc-dialog__surface{
    padding-top: 15px;
}

.tweet {
    height: 32px;
    width: 32px;
}
